# Practicing Assignment and Data Types

Hello and welcome to your first R exercises!


## Exercise 1: Assigning values


Assign the numeric value 42 to a variable called `the_answer`. Now create a new variable (you can call it whatever you want) that is equal to double `the_answer`.

## Exercise 2: Different types

1. Create a variable called `my_age` and set it equal to your age
2. Check the class of `my_age` using the `class()` function.
3. Create a variable called `my_dog` and set it equal to the name of your dog. (If you do not have a dog, pretend you do What's your pretend dog's name?)
4. What's the class of `my_dog`?
5. Now the weird one. Create a variable called `ten` and assign in the value `"10"` in quotes. What's the class of `ten`? Why is it not numeric?
6. What happens if you add `my_age` and `ten`?
7. To convert `ten` to a numeric type, type `ten = as.numeric(ten)`. Now check it's class again.
8. Now can you add `my_age` to `ten`?