# Data Types

## Types of Data

Up till now, we've only been working with numbers, but R is actually equiped to work with a number of different *kinds* of data. In the course of this tutorial we'll introduce all of them, but there are really three main ones to be aware of:

- `numeric` and `integer`: The main data types for numbers. These two types are *slightly* different (integers is restricted to, we, integers; numeric can be an integer or a number with decimals), but you can think of them as interchangable for now.
- `character`: Text data, like a person's name, or a quote from a book. Written with `"` before and after (or single quotes (`'`) before and after if you'd prefer.
- `logical`: Data that only takes on the values of true and false. Written `TRUE` and `FALSE`

If you're ever unsure of the type of a variable (or more precisely, of the type of the value associated with a variable), you can ask R with the `class()` function:

In [15]:
pi = 3.1416
class(pi)

[1] "numeric"

In [16]:
mystery_novel = "T'was a dark and story night"
class(mystery_novel)

[1] "character"

In [17]:
my_logical = TRUE
class(my_logical)

[1] "logical"

### Characters

The value of characters will be evident when we start working with real data, when our datasets will include things like country names, or capitals, or open-ended survey responses. In all these situations, we will use the `character` type to store text. 

Note that if a variable is a character, even if it looks like a number, R will treat it like text and you won't be able to do things like add or multiple it. For example:

```R
a = 5
b = "7"
a + b 
```

Will generate an error:

```R
Error in a + b: non-numeric argument to binary operator
```

Because plus is only defined for numbers, and R sees `"7"` as text. I'll show you how to deal with this silly situation below.

### Logicals

The use of logicals is less obvious at the moment, but they will eventually prove very important. For now, it's enough to know they exist, and that the place you are most likely to encounter them is when you write tests. For example:

In [18]:
7 > 5

[1] TRUE

In [19]:
4 < 3

[1] FALSE

This is also a good time to introduce the double-equal sign. Because we use `=` to assign values to variables, we can't use it to test if two things are equal. To ask R to evaluate whether two things are equal, therefore, we use a double-equal sign (`==`). For example:

In [20]:
a = 5
b = 5
a == b

[1] TRUE

In [21]:
c = 7
a == c

[1] FALSE

## A Brief Introduction to Functions

One last note before we finish off this section: one of the most powerful thing about a language like R is that it's full of pre-made tools called *functions*. A function is basically a little program inside R. They can do everything from simple operations (like adding up numbers) to extremely complicated operations (fit a machine learning model). 

The idea of a function is that takes in a set of *arguments* as an input, and then it *returns* a result. To use a function, you type out the function name, then place the arguments you want to pass to the function inside parentheses. For example, there's a function called `as.numeric()` that's designed to convert a variable that is a character (like `"7"`) to a numeric value (`7`) so we can do arithmatic with that value. 

So to use it, we pass the function `as.numeric` the variable (`b`). The function will then take the value associated with `b` (`"7"`), convert it to a numeric value, then return the converted value. For example:

In [22]:
a = 5
b = "7"
b_as_a_numeric = as.numeric(b)
a + b_as_a_numeric

[1] 12

Note that `as.numeric` didn't actually change the value of the variable `b` -- instead, it returned the converted value, and we assigned it to the variable `b_as_a_numeric`. If we look at `b`, we will see it is still `"7"`

In [23]:
b

[1] "7"

But `as.numeric` won't work on everything. If you pass `as.numeric` a character that doesn't look like a number, it's smart enough to know that there's no way to convert it, so instead of a number, it returns `NA`, which is what R uses when it has no idea what to do. For example:

```R
silly_example = "This doesn't look like a number at all!"
as.numeric(silly_example)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
<NA>
```

We'll talk much more about functions in the future, but for now it's enough to recognize that they are little programs, and that they operate by accepting inputs (the things placed inside the parenthesis that follow the function name) and return a result to you which you can look at or assign to a variable for later use.